@font-face{
    src: url(../droid-sans/DroidSans-Bold.ttf);
    font-family: DroidSans-Bold;
}

@font-face{
    src: url(../droid-sans/DroidSans.ttf);
    font-family: DroidSans;
}

@font-face{
    src: url(../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF);
    font-family: myriad-pro-REG;
}


@font-face{
    src: url(../droid-sans/DroidSans-Bold.ttf);
    font-family: droidsans-Bold;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.clr{
    clear: both;
}

/* =====================================================
                    common css end
========================================================*/
/* =====================================================
                    menu part start
========================================================*/
#menu{
    height: 100px;
    background: #131e29;
}


.logo{
    width: 15%;
    float: left;
}

.main_menu{
    width: 85%;
    float: left;
}

.logo a{
    line-height: 100px;
}

.main_menu ul{
    float: right;
}

.main_menu ul li{
    float: left;
}

.main_menu ul li a{
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: DroidSans-Bold;
    margin-left: 36px;
    line-height: 100px;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu ul li a:hover{
    color: #4bcaff;
}
/* =====================================================
                    menu part end
========================================================*/
/* =====================================================
                    banner part start
========================================================*/
#banner{
    background: url(../images/banner_all.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 0 133px;
    /* border-bottom: 3px solid #4bcaff; */
    border-top: 1px solid #4bcaff;
}

.banner_text{
    width: 670px;
    float: right;
    text-align: left;
    position: relative;
}

.banner_text h1{
    color: #fff;
    font-size: 46px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.banner_text p{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding-top: 17px;
}

.banner_text a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 25px 50px;
    border: 1px solid #fff;
    margin-top: 42px;
    margin-right: 36px;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_text a:hover{
    background: #4bcaff;
    border-color: #4bcaff;
}

.banner_text .bg{
    background: #4bcaff;
    border-color: #4bcaff;
}

.banner_text h3{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding-top: 66px;
    
}

/* .banner_text i{
    color: #4bcaff;
    font-size: 30px;
    position: absolute;
    left: 23%;
    top: 92%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} */

.ban_logo img{
    position: absolute;
    top: 93%;
    float: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(831%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* =====================================================
                    banner part end
========================================================*/
/* =====================================================
                    features part start
========================================================*/
#features{
    text-align: center;
    padding: 50px 93px;
    background: #f9f9f9;
    border-bottom: 1px solid #f1f1f1;
}

.common_tittle h3{
    color: #414042;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.common_tittle p{
    color: #414042;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.fear_col{
    width: 23%;
    float: left;
    margin-right: 30px;
}

.fear_col:nth-child(4){
    margin-right: 0;
}

.fear_col h4{
    color: #414042;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-bottom: 21px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


.fear_col h4:hover{
    color: #4bcaff;
}

.fear_col p{
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
}

.fear_img a{
    width: 170px;
    height: 170px;
    background: #4bcaff;
    text-align: center;
    /* border: 3px solid yellow; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 30px;
    position: relative;
    line-height: 170px;
}

.fear_img a::before{
    position: absolute;
    content: '';
    left: -4px;
    top: -3px;
    width: 170px;
    height: 170px;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feat_row{
    padding-top: 66px;
}
/* =====================================================
                    features part end
========================================================*/
/* =====================================================
                    gallery part start
========================================================*/
#gallery{
    text-align: center;
    padding: 50px 108px;
}

.gall_col{
    width: 23%;
    margin-right: 30px;
    float: left;
}

.gall_col:nth-child(4){
    margin-right: 0;
}

.text h4{
    color: #4bcaff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    background:rgba(65, 64, 66, 0.6) ;
    width: 268px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 80%;
    left: 0;
    transform: translateX();
    -webkit-transform: translateX();
    -moz-transform: translateX();
    -ms-transform: translateX();
    -o-transform: translateX();
    border-radius:0 0 5px;
    -webkit-border-radius:0 0 5px;
    -moz-border-radius:0 0 5px;
    -ms-border-radius:0 0 5px;
    -o-border-radius:0 0 5px;
}

.gall_col p{
    color: #838383;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 22px;
    padding-top:24px;
    
}

.text{
    background: #4dc9ff;
    /*! width: 270px; */
    height: 199px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gall_row{
    padding-top: 60px;
}
/* =====================================================
                    gallery part end
========================================================*/
/* =====================================================
                    banner_text part start
========================================================*/
#ban_text{
    background: url(../images/text_banner.png);
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 82px 203px;
    display: flex;
}

.bann_text h5{
    color: #ffffff;
    font-size: 46px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    padding-bottom: 35px;
}

.bann_text a{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.bann_text p{
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    font-family: myriad-pro-REG;
    width: 750px;
    text-align: left;
    line-height: auto;
    float: right;
}

.bann_text p span{
    display: block;
    padding-top: 28px;
}
/* =====================================================
                    banner_text part end
========================================================*/
/* =====================================================
                    perice part start
========================================================*/
#perice{
    text-align: center;
    padding: 71px 69px ;
}

.pri_col{
    width: 323px;
    height: 417;
    background: #f9f9f9;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    float: left;
    margin-right: 83px;
}


.pri_col:nth-child(3){
    margin-right: 0;
}

.pri_col:hover{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6) ;
}

.tittle h4{
    color: #d7d7d7;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    height: 71px;
    line-height: 71px;
    /* background: #f9f9f9; */
}

.dollar h3{
    background: #91c46b;
    height: 115px;
    color: #fff;
    line-height: 115px;
    font-size: 85px;
    font-weight: 700;
    font-family: droidsans-Bold;
}

.text_all ul{
    padding: 32px 36px ;
}

.text_all ul li{
    padding: 26px;
}

.text_all ul li h3{
    color: #d7d7d7;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.bauton{
    padding-bottom: 20px;
}

.bauton a{
    color: #d7d7d7;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding: 19px 47px;
    border: 1px solid #000;
    background: #91c46b;
    border-color: #91c46b;
}

.bauton a:hover{
    /* background: #4dc9ff; */
    box-shadow: 0 0 2px 2px rgba(77, 202, 255, 0.6);
}

.pri_row{
    padding-top: 66px;
}
/* =====================================================
                    perice part end
========================================================*/
/* =====================================================
                    testmonials part start
========================================================*/
#testmonial{
    padding: 39px 0 100px;
    border-top: 1px solid #000;
    text-align: center;
}

.test_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test_col{
    width: 50%;
}

.test_main{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.img{
    width: 30%;
    padding-top: 42px;
}

.text2{
    width: 62%;
}

.text2 p{
    text-align: left;
    padding-top: 75px;
    color: #4bcaff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.text2 h6{
    text-align: right;
    padding-top: 10px;
    color: #4bcaff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
/* =====================================================
                    testmonials part end
========================================================*/
/* =====================================================
                    apps part start
========================================================*/
#apps{
    padding: 34px 0 30px;
    background: rgb(0, 0, 0);
    text-align: center;
}

.head_text h2{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}



.btn a{
    margin-top: 30px;
    padding: 24px 22px;
    border: 1px solid #4bcaff;
    color: #414042;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    background: #4bcaff;
    border-bottom:5px solid #277697;
}
/* =====================================================
                    apps part end
========================================================*/
/* =====================================================
                    footer part start
========================================================*/
#form{
    padding: 110px 0;
}

.form_row{
    width: 325px;
    text-align: center;
    margin: 0 auto;
    background: rgba(101, 206, 241, 0.8);
    padding: 30px 0 27px;
    border-radius: 5px;
}

.form_row h2{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

form input{
    width: 270px;
    height: 35px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    color: #d3d3d3;
}

.form_row form {
    margin: 0 27px;
}

form textarea{
    text-align: center;
    padding-top: 15px;
    border: 0;
    color: #d3d3d3;
    resize: none;
    /* font-size: 15px;
    color: #d3d3d3; */
}

form button{
    width: 190px;
    height: 50px;
    margin-top: 10px;
    background: #000;
    border: 0;
    color: #72b3cc;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
/* =====================================================
                    footer part end
========================================================*/
/* =====================================================
                    footer part start
========================================================*/
#footer{
    padding: 40px 0;
    background: #414042;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_text p{
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
/* =====================================================
                    footer part end
========================================================*/

